# Supabase - Get these from https://supabase.com/dashboard/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=https://zzjadifhgvvgsxfhzrgz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp6amFkaWZoZ3Z2Z3N4Zmh6cmd6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njc5ODg5ODUsImV4cCI6MjA4MzU2NDk4NX0.6T63H2NIny0gvEZzxGXAmP16t3reLv5MFTJ-iYzfkxk
SUPABASE_SERVICE_ROLE_KEY=sb_publishable_13GUmZaXe4ys2o1bmSEp1A_wjVLREnm
